header {
    background-color:black;
    font-size: 28px;
    font-family: 黑体;
    padding:20px;
    background-image: url("../image/begin.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height:450px;
    position: relative;
}

header ul li {
    margin-top: 10px;
}


.logo {
    height: 0px;
}

header #tp{
    position: absolute;
    top: 50px;
    left: -19px;
}

nav {
    top:100px;
    text-align: center;
    margin-top: 60px;
}

 ul {
    margin:0;
    padding:0;
    list-style-type:none;
}

li {
    display:inline-block;
    margin-right:20px;
    position: relative;
}

nav li {
    color: black;
}

nav li:hover {
    color:whitesmoke;
}

nav li::before {
    color: white;
    width: 100%;
    border-bottom: 2px solid;
    height: 105%;
    top:-3px;
    border-top: 2px solid;
    transform: scaleY(2);
    opacity: 0;
    position: absolute;
    transition:  0.6s all linear;
}

nav li:hover::before {
    opacity: 1;
    color: wheat;
    transform: scaleY(1);
}

nav li::after {
    position: absolute;
    top:0;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    transition: ease 0.6s;
    transform: scale(0);
}

nav li:hover::after {
    transform: scale(1);
    opacity: 1;
    background-color:black;
}

.l1::before {
    content: "首页";
}

.l1::after {
    content: "首页";
}

.l2::before {
    content: "网址简介";
}

.l2::after {
    content: "网址简介";
}

.l3::before {
    content: "我的博客";
}

.l3::after {
    content: "我的博客";
}

.l4::before {
    content: "关于我";
}

.l4::after {
    content: "关于我";
}



.logo::before {
    border: none;
}



.logo img{
    background-color:black;
    position: relative;
    display: inline-block;
    top:20px;
    height:85px;
    width:60px;
}

.logo a:hover {
    box-shadow: rgb(10, 218, 233) 0 10px 20px;
}

nav a {
    text-decoration: none;
    color:whitesmoke;
    font-weight: 700;
    list-style-type: none;
}

