body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    padding:0;
}


html {
    scroll-behavior: auto;
}

#tp {
    z-index: -1;
}

@media screen and (max-width:715px) {
    header .moblie {
        display:inline-block;
    }
    header .desktop {
        display:inline-block;
    }
}


h1 {
    text-indent: 20px;
}



.section1 {
    background-image: url(../image/begin.jpg);
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 550px;
}


.section1 img{
    width:300px;
    height:200px;
    box-shadow: gray  0 10px 20px;
}
p {
    text-indent:20px;
}
div h4 {
    margin:0;
    padding: 0px;
    line-height: 30px;
    background-color: black;
    color:gray;
    height:30px;
    text-indent:2em;
}


footer {
    background-color: black;
    text-align: center;
    color:gray;
}
 
.section1 li {
    position: relative;
    margin-top: 20px;
}

.section1 li:hover {
    top:-10px;
}

.section1 div {
    position: absolute;
    width:100%;
    height:100px;
    background-color: rgb(34, 39, 41);
    color:rgb(234, 250, 250);
    top:90px;
    opacity: 0;
    padding-top: 10px;
}

.section1 a {
    display: block;
    text-align: center;
}

.section1 div a button {
    display: block;
    position: absolute;
    left:70px;
    top:70px;
    height:50px;
    width: 150px;
    border-width: unset;
    font-size: 25px;
    transition: ease 2s; 
}

.section1 button::before {
    content: "";
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    top:2px;
    left: 20px;
    background-color: inherit;
    position: absolute;
    transition: ease-in-out 1s;
}

.section1 button::after {
    content: "";
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    top:2px;
    position: absolute;
    background-color: inherit;
    transition: ease-in-out 1s;
}

.section1 button:hover {
    border-radius: 50px;
    width: 150px;
    color: turquoise;
    box-shadow: turquoise 0 5px 5px;
}


.section1 button:hover::before {
    content: "";
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    left:35px;
    top:-10px;
    background-color: inherit;
    position: absolute;
}

.section1 button:hover::after {
    content: "";
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    top:-10px;
    position: absolute;
    background-color: inherit;
}


.section1 div a button {
    border-width: none;
    border-style: double;
}

.section1 li:hover div {
    opacity: 0.9;
    border: rgb(227, 248, 248);
    top:60px;
    height: 130px;
    transition: 1.5s ease-in-out;
}
.section2 {
    display: flex;
    background-image: url(../image/bg13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:520px;
}

.section2 div {
    width: 50% ;
    color:rgb(204, 211, 212);
    margin:auto;
}



.begin {
    display: inline-block;
    height:1000px;
    width:100%;
    background-image: url(../image/bg10.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin:0;
    padding:0;
}

.begin div {
    position: absolute;
    top: 50%;
    left:45%;
    font-weight: 500;
    color: whitesmoke;
}

.begin div h1 {
    font-size: 50px;
    position: relative;
    right:50px;
    top:-80px;
}

.begin div:hover h1 {
    animation-name: bginDivMove;
    animation-duration: 2s;
}


.begin h2 {
    display: inline-block;
    font-weight: 600;
    font-size: 40px;
    text-indent: 1em;
    border-radius: 50%;
}

.begin h2:hover {
    animation-name: avatar;
    animation-duration: 2s;
}


.begin button {
    width: 100px;
    height: 50px;
    border-width: thin;
    border-radius: 5px;
    background-image: url(../image/bg10.png);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color:whitesmoke;
    display: inline-block;
    position: absolute;
    top:70%;
    right: 50%;
}

.begin button:hover {
    box-shadow: rgb(10, 218, 233) 0px 0px 5px;
    border-color: rgb(10, 218, 233);
    color: rgb(10, 218, 233);
}

.begin button:hover .begin{
    animation-name: beginMove;
    animation-duration: 2s;
}


.move:hover {
    animation-name: beginMove;
    animation-duration: 1.5s;
}


@keyframes sectionMove {
    50% {
        transform: translateY(-30px);
    }
}

@keyframes beginMove {
    from {
        transform: translateX(-230px);
    }
    to {
        transform: translateX(0px);
    }
}


@keyframes bginDivMove {
    50% {
        transform: scale(2);
    }
}


@keyframes avatar {
    100% {
        transform: translate(1000px,1000px);
    }
}