body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,微软雅黑;
    margin:0;
    padding:0;
}
header {
    background-color: black;
    color:white;
    padding:20px;
    text-align: center;
    background-image: url("../image/header.jpg");
    background-size:100%;
    background-position: top;
    height:200px;
}
ul {
    margin:0;
    padding:0;
    list-style-type:none;
}
li {
    display:inline-block;
    margin-right:20px;
}
.logo{
    background-color: brown;
    background-image: url("../image/logo.jpg");
    background-size: 100%;
    background-repeat:no-repeat;
    position: relative;
    display: inline-block;
    text-indent: -9999px;
    top:-20px;
    height:60px;
    width:50px;
}
a {
    text-decoration: none;
    color:rgb(228, 228, 236);
    font-weight: 700;
}
h1 {
    text-indent: 20px;
}
.section1 {
    background-color: white;
    display:flex;
    flex-direction: row;
}
section img{
    width:300px;
    border-radius: 20px;
    height:200px;
    box-shadow: gray  0 0 10px;
}
p {
    text-indent:20px;
}
div h4 {
    margin:0;
    padding: 0px;
    line-height: 30px;
    background-color: black;
    color:gray;
    height:30px;
}
figure figcaption {
    text-align: center;
}
.text {
    background-color: white;
    width: 800px;
    margin:0 auto;
    line-height: 24px;
}
footer {
    background-color: black;
    text-align: center;
    color:gray;
}