body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0;
    padding:0;
}


html {
    scroll-behavior: auto;
}

#tp {
    z-index: -1;
}




h1 {
    text-indent: 20px;
}



.section1 {
    background-image: url(../image/begin.jpg);
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    display:flex;
    text-align: center;
    height: 550px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.section1 ul img {
    height:400px;
}


.section1 ul {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 890px;
    overflow: hidden;
    padding: 0px;
}

.section1 ul li {
    float: left;
    width: 120px;
    border: 2px solid lightblue;
    background-color: lightcoral;
    transition: all 1s linear;
    box-shadow: gray 0 10px 10px;
}

.section1 ul:hover li {
    width: 60px;
}

.section1 ul li:hover{
    width: 500px;
    height: 400px;
    position: relative;
}



.section1 img{
    height:480px;
}

p {
    text-indent:20px;
}
h4 {
    margin:0;
    padding: 0px;
    line-height: 30px;
    background-color: black;
    color:gray;
    height:30px;
    text-indent:2em;
    position: relative;
}



h4::before {
    content: "";
    position: absolute;
    background-color: lightcoral;
    width: 30px;
    height: 30px;
    top:-30px;
    left: 100px;
    border-radius: 50%;
    opacity: 0;
    animation: fun1 linear 2.5s infinite;
}

h4::after {
    content: "";
    position: absolute;
    background-color: lightblue;
    width: 30px;
    height: 30px;
    top:-30px;
    left: 150px;
    border-radius: 50%;
    opacity: 0;
    animation: fun2 linear 2.5s infinite;
}

h4:hover::before {
    opacity: 1;
}


h4:hover::after {
    opacity: 1;
}

@keyframes fun1 {
  50% {
      transform: translateX(-100px);
  }
}

@keyframes fun2 {
    50% {
        transform: translateX(-120px);
    }
}

.section1 ul {
    list-style-type: none;
}

 
.section1 li {
    position: relative;
    margin-top: 20px;
}



.section1 .box1 div {
    position: absolute;
    width:100%;
    height:0px;
    background-color: rgb(34, 39, 41);
    color:rgb(234, 250, 250);
    top:400px;
    opacity: 0;
    padding-top: 10px;
}

.section1 a {
    display: block;
    text-align: center;
}

.section1 div a button {
    display: block;
    position: absolute;
    left:175px;
    top:70px;
    height:50px;
    width: 150px;
    border-width: 0 ;
    font-size: 25px;
    transition: ease 2s; 
}

.section1 button::before {
    content: "";
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    top:4px;
    left: 20px;
    background-color: inherit;
    position: absolute;
    transition: ease-in-out 1s;
}

.section1 button::after {
    content: "";
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    top:4px;
    position: absolute;
    background-color: inherit;
    transition: ease-in-out 1s;
}

.section1 button:hover {
    border-radius: 50px;
    width: 150px;
    color: turquoise;
    box-shadow: turquoise 0 5px 5px;
}


.section1 button:hover::before {
    content: "";
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    left:35px;
    top:-10px;
    background-color: inherit;
    position: absolute;
}

.section1 button:hover::after {
    content: "";
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    top:-10px;
    position: absolute;
    background-color: inherit;
}


.section1 div a button {
    border-width: none;
    border-style: double;
}

.section1 li:hover div {
    opacity: 0.9;
    border: rgb(227, 248, 248);
    top:240px;
    height: 150px;
    transition: 1.5s ease-in-out;
}

@keyframes sectionMove {
    50% {
        transform: translateY(-30px);
    }
}


.section2 {
    display: flex;
    background-image: url(../image/bg13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height:520px;
    font-size: large;
    position: relative;
}

.section2 div {
    width: 50% ;
    color:rgb(204, 211, 212);
    margin:auto;
}



.begin {
    display: inline-block;
    height:1000px;
    width:100%;
    background-image: url(../image/bg10.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin:0;
    padding:0;
    position: relative;
}

.begin .main {
    position: absolute;
    top: 50%;
    left:45%;
    font-weight: 500;
    color: whitesmoke;
}

.begin div h1 {
    font-size: 50px;
    position: relative;
    right:50px;
    top:-80px;
}

.begin div:hover h1 {
    animation-name: bginDivMove;
    animation-duration: 2s;
}


.begin h2 {
    display: inline-block;
    font-weight: 600;
    font-size: 40px;
    text-indent: 1em;
    border-radius: 50%;
}

.begin h2:hover {
    animation-name: avatar;
    animation-duration: 2s;
}


.begin button {
    width: 100px;
    height: 50px;
    border-width: thin;
    border-radius: 5px;
    background-image: url(../image/bg10.png);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color:whitesmoke;
    display: inline-block;
    position: absolute;
    top:70%;
    right: 50%;
}

.begin button:hover {
    box-shadow: rgb(10, 218, 233) 0px 0px 5px;
    border-color: rgb(10, 218, 233);
    color: rgb(10, 218, 233);
}

.begin button:hover .begin{
    animation-name: beginMove;
    animation-duration: 2s;
}


.move:hover {
    animation-name: beginMove;
    animation-duration: 1.5s;
}


.water,
.wave{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute; 
}

.water {
    border:3px solid darkturquoise;
    top:20%;
    left: 12%;
    padding: 3px;
}

.wave {
    background-color: darkturquoise;
    overflow: hidden;
}

.wave::before {
    content: "STAR";
    position: absolute;
    color: darkcyan;
    left: 0px;
    top: 10px;
    transform: translate(90%,50%);
    z-index: 99;

}


.wave:after {
    content: "";
    width: 180px;
    height: 180px;
    background:rgba(255,255,255,0.8);
    position: absolute;
    border-radius: 35%;
    transform: translate(-18%,-65%);
    animation: wave 6s linear infinite;
}

.wave:active {
    background-color: orange;
}

@keyframes wave {
    100% {
        transform:translate(-18%,-65%) rotate(360deg);
    }
}






@keyframes bginDivMove {
    50% {
        transform: scale(2);
    }
}


@keyframes avatar {
    100% {
        transform: translate(1000px,1000px);
    }
}